/* add code here to make your image 300px tall, have a border-radius of 25px, and a 1px black solid border.*/
body{
  background-image:url("3420.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-color: rgb(212, 190, 164);
  padding-left: 13em;
}

ul.navbar {
  list-style-type: none;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }

  ul.navbar li {
      background: rgb(60, 85, 92);
      margin: 0.5em 0;
      padding: 0.3em;
      border-left: 1em solid rgb(217, 212, 194)
  }

#movie {
  width: 300px;
  border-radius:25px;
  border:1px solid black;

}

/* add code here to change the color and font family of your movie's movie/title */
h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(39, 93, 118);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
/* Bonus: change the color of your list elements */

p{
  background-color: bisque;
}

ol{
  background-color: bisque;
}

li {
  color:darkcyan
}

/*unvisited link*/
a:link {
  color:rgb(228, 227, 205)
}

/*visited link*/
a:visited {
  color:rgb(177, 34, 5)
}

/*mouse over link*/
a:hover {
  color:rgb(142, 134, 89)
}

